<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Avakado</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="custom-container">
        <h1 class="text-center m-4 text-success">Avakado</h1>
        <div class="jumbotron">
            <h3 class="text-center text-primary">Check your email and confirm the code that has been sent</h3>
            <br>
            <H3>{{this.theEmail}}</H3>
            <br>
            {{#if success}}
            <div class="alert alert-success alert-dismissible fade show">
                <strong>{{success}}</strong>
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>
            {{/if}}
            {{#if error}}
            <div class="alert alert-danger alert-dismissible fade show">
                <strong>{{error}}</strong>
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>
            {{/if}}
            <form action="/nufus/code_ok" id="code_ok" method="POST">
                <div class="form-group">
                    <label for="code">Code <span class="text-danger">*</span></label>
                    <input type="code" class="form-control" name="code" id="code" placeholder="Enter code from email">
                </div>
                <input type="hidden" name="email" value="{{ this.theEmail }}">
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-info btn-block">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            code expired? Request new code <a href="/nufus/requestNewCode">here</a>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script> setTimeout(() => { $('.alert').remove(); }, 3000) </script>
</html>